<%= link_to owned_monster_path(owned_monster),
      class: "block rounded-2xl bg-white shadow-sm border p-5 hover:bg-gray-50 hover:shadow-md active:scale-[0.99] transition cursor-pointer" do %>

  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold">
      <%= owned_monster.nickname %>
    </h2>

    <% if owned_monster.active? %>
      <span class="text-sm px-2 py-1 rounded-full bg-green-100 text-green-700">
        編成中
      </span>
    <% end %>
  </div>

  <div class="mt-4 space-y-1 text-sm text-gray-600">
    <p>Lv.<%= owned_monster.level %></p>
    <p>HP: <%= owned_monster.hp %></p>
    <p>ATK: <%= owned_monster.atk %></p>
    <p>DEF: <%= owned_monster.def %></p>
  </div>

<% end %>
