<div class="bg-white rounded-2xl shadow-sm p-4 border">

  <div class="flex items-center justify-between">
    <h2 class="text-xl font-semibold">
      <%= owned_monster.disply_name %>
    </h2>

    <% if owned_monster.active? %>
      <span class="text-sm px-2 py-1 rounded-full bg-green-100 text-green-700">
        編成中
      </span>
    <% end %>
  </div>

  <div class="mt-4 space-y-1 text-sm text-gray-600">
    <p>Lv.<%= owned_monster.level %></p>

    <p>HP: <%= owned_monster.monster.base_hp %></p>

    <p>ATK: <%= owned_monster.monster.base_atk %></p>

    <p>DEF: <%= owned_monster.monster.base_def %></p>
  </div>

</div>
